.form{

width: 520px;
display: flex;
flex-direction: column;
}

.form h2{
    color:rgb(10, 109, 109);
    font-size: 25px;

}

.form label{
    font-size: 20px;
    margin-bottom: 10px;
}
.form input{
    height: 30px;
}

.form input, form textarea{
    background-color: transparent;
    border:2px solid dodgerblue;
     border-radius:  12px;
     padding: 16px;
}
.form input:focus, .form textarea:focus {
    outline: 2px solid dodgerblue;

}
.form button{
    margin-top: 24px;
    height: 40px;
    background-color: aqua;
    color: white;
    border: none;
    border-radius: 12px;

}